// Place all the styles related to the public/voice_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment_box {
  padding-top: 50px;
}

.adudio{
  padding-bottom: 25px;
  text-align: center;
}

.comment{
  border-collapse: separate;
  padding-top: 10px;
  width: 100%;
}

.comment_day{
  padding-top: 10px;
}

.paginate{
  padding-top: 20px;
  text-align: center;
}

.newtable{
  text-align: center;
  border-collapse: separate;
  border-spacing: 150px 10px;
}
