<div>user info</div>


<div>user image: </div>
<div>user name: <%=link_to voice_posts.customer.name, {controller: 'voice_posts', action: 'index', id: voice_posts.customer.id} %></div>
<div>user follows count</div>
<div>user follower count</div>

<%
=begin
 %>

<%
=end
 %>

<div>user image: </div>
<div>user name: <%= @customers.name %></div>
<div>user follows count</div>
<div>user follower count</div>

