<% if params[:name] == nil %>

<% else %>
    <% @voice_posts.each do |voice_post| %>
     <p>title:<%= link_to voice_post.title, public_voice_post_path(voice_post) %></p>
      <p>introduction:<%= voice_post.introduction %></p>
         <% if voice_post.voice.attached? %>
        <audio src="<%= rails_storage_redirect_path(voice_post.voice) %>" controls=""></audio>
         <% else %>
            ないよ
         <% end %>
    <% end %>
  <% end %>



<div class= "hashtag-name">
  <% @hashtags.sort.reverse.each do |count| %>
    <% count[1].each do |hashtag| %>
      <% if hashtag.voice_posts.count > 0 %>
        <p><%= link_to  hash_name(hashtag), public_hashtag_path(hashtag.hashname) %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
