<h1>投稿一覧</h1>
<% @voice_posts.each do |voice_post| %>
  <p>title:<%= link_to voice_post.title, public_voice_post_path(voice_post) %></p>
  <p>introduction:<%= voice_post.introduction %></p>
  <% if voice_post.voice.attached? %>
    <audio src="<%= rails_storage_redirect_path(voice_post.voice) %>" controls=""></audio>
  <% else %>
    ないよ
  <% end %>
  <%= link_to "削除", public_voice_post_path(voice_post), method: :delete %>
<% end %>